* {
	font-family:"Trebuchet MS","sans-serif";
}
/* Stuff for "branding" */
#banner{
	position:relative;
	height:100%;
	left:2%;
	top:-43px;
	z-index:15;
	border: none;
}
.pagetitle{
    font-size: 17px;
}
.ctpsHeader{
	height:59px;
	background-color:white
}

.lightBlue{
	height:27px;
	width:100%;
	background-color:#7DA1C4;
	z-index:10;
}

.darkBlue{
	height:16px;
	width:100%;
	background-color:rgb(13,72,127);
	z-index:10;
}
/* End of stuff for "branding" */

/* Throttle the jQueryUI font size back a bit */
.ui-widget {
    font-size:80% !important;
}

#wrapper {
    width: 100%;
    /* height: 600px; */
}

#map_wrapper {
    /* margin-left: 5%;
    margin-right: 5%; */
    height: 100%;
}

#sb_viz {
    /* float: left; */
    width: 450px;
    height: 700px;
    border: 2px solid #B87F32;
    margin-right: 10px;
    overflow: scroll;
    overflow-x:  hidden;
}

#map {
    width:  500px;
    height: 700px;
    border: 2px solid #B87F32; 
}

#nb_viz {
    width: 450px;
    height: 700px;
    border: 2px solid #B87F32;;
    margin-left: 10px;
    overflow: scroll;
    overflow-x:  hidden;
}

.viz_caption {
    text-align: center;
    font-size: 18pt;
}

/* The following 3 rules courtesy of https://github.com/VACLab/d3-tip */
.d3-tip {
  line-height: 1;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips specifically */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}