* {
	font-family:"Trebuchet MS","sans-serif";
}

/* Rules for CTPS "branding" */
#banner{
	position:relative;
	height:100%;
	left:2%;
	top:-43px;
	z-index:15;
	border: none;
}
.pagetitle{
    font-size: 17px;
}
.ctpsHeader{
	height:59px;
	background-color:white
}
.lightBlue{
	height:27px;
	width:100%;
	background-color:#7DA1C4;
	z-index:10;
}
.darkBlue{
	height:16px;
	width:100%;
	background-color:rgb(13,72,127);
	z-index:10;
}
/* End of rules for CTPS "branding" */

/* Throttle the jQueryUI font size back a bit */
.ui-widget {
    font-size:80% !important;
}

/* General rules. */
.viz_caption_nbsb {
    text-align: center;
    font-size: 18pt;
    min-height: 30px;
}
.options_div {
    margin-top: 5px;
    margin-bottom: 5px;
}
/* The following rule is now a fossil. */
.viz_toggle_td {
    text-align:right;
}
.viz_toggle_button {
    font-size: 12pt;
}
.offscreen {
    position: absolute;
    left: -999em;
}
/* End of general rules. */

/* Rules for elements of the main view. */
#main_view_wrapper {
    width: 100%;
    align: center;
    /* height: 600px; */
}
#gfx_wrapper_main_nbsb {
    display:flex;
    justify-content:center;
}
#sb_lanes {
    width: 130px;
    height: 700px;
    border: 2px solid #B87F32;
    margin-right: none; /* was: 10px */
    overflow: scroll;
    overflow-x:  hidden;    
}
#sb_viz {
    width: 465px;
    height: 700px;
    border: 2px solid #B87F32;
    margin-right: 10px;
    overflow: scroll;
    overflow-x:  hidden;
}
#map_nbsb_wrapper {
    /* margin-left: 5%;
    margin-right: 5%; */
    height: 100%;
}
#map_nbsb {
    width:  500px;
    height: 700px;
    border: 2px solid #B87F32; 
}
#nb_viz {
    width: 465px;
    height: 700px;
    border: 2px solid #B87F32;;
    margin-left: 10px;
    overflow: scroll;
    overflow-x:  hidden;
}
#nb_lanes {
    width: 130px;
    height: 700px;
    border: 2px solid #B87F32;;
    margin-left: none; /* was: 10px  */
    overflow: scroll; 
    overflow-x:  hidden;    
}      
/* End of rules for elements of the main view. */

/* Rules for elements of the AWDT comparator view. */
#awdt_comp_view_wrapper {
    width: 100%;
    /* height: 600px; */
}
#gfx_wrapper_awdt_nbsb {
    display:flex;
    justify-content:center;
}
#sb_viz_yr_1 {
    width: 465px;
    height: 700px;
    border: 2px solid #B87F32;
    margin-right: 5px;
    overflow: scroll;
    overflow-x:  hidden;
}
#sb_viz_yr_2 {
    width: 465px;
    height: 700px;
    border: 2px solid #B87F32;
    margin-right: 2.5px;
    overflow: scroll;
    overflow-x:  hidden;
}
#nb_viz_yr_1 {
    width: 465px;
    height: 700px;
    border: 2px solid #B87F32;
    margin-left: 2.5px;
    overflow: scroll;
    overflow-x:  hidden;
}    
#nb_viz_yr_2 {
    width: 465px;
    height: 700px;
    border: 2px solid #B87F32;
    margin-left: 5px;
    overflow: scroll;
    overflow-x:  hidden;
}
.awdt_comp_viz {
    width: 465px;
}
/* End of rules for elements of the AWDT comparator view. */

/* Rules for the peak hours comparator view. */
.peak_comp_viz {
    border: 2px solid #B87F32;
}
/* End of rules for the peak hours comparator view. */

/* Rule for tooltip */
div.tooltip {	
    position: absolute;			
    text-align: center;								
    padding: 2px;				
    font: 12px sans-serif;		
    background: LightGrey;	
    border: 3px;
    border-style: solid;
    border-radius: 8px;	
    pointer-events: none;			
}